---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');

const res = await fetch('https://jsonplaceholder.typicode.com/todos');

const data = await res.json();

import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1>{data}</h1>
</Layout>